.footer {
  background-color:rgba(6, 58, 170, 0.678); 
  color: #f9fafb;
  padding: 14px;
  text-align: center;
  border-top: 1px solid var(--secondry);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}




