* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: var(--bg);
  color: var(--text);
}

section {
  padding: 80px 20px;
  max-width: 1100px;
  margin: auto;
}

h2 {
  margin-bottom: 40px;
  text-align: center;
}

.grid {
  display: grid;
  gap: 20px;
}

.btn {
  background: var(--primary);
  color:var(--bg);
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 5px;
}


.btn:hover{
  background:#0a4cdb;
}
/* scroll bar   */

::-webkit-scrollbar {
  width: 0.88rem;
 }
 
::-webkit-scrollbar-track {
  border: 7px solid #292c3b;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #d4d4d8;
  }
 
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 2px;
}
 
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
 
 html {scrollbar-color: #2167c9 #3d4a59;} 