.hero-section {
  text-align: center;
  padding: 80px 20px;
  background: #efeff0;
}

.hero-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-section p {
  color: var(--gray);
  margin-bottom: 30px;
}

